## config file for RRLpipe scripts.
##
## Modify as necessary.
## Consdier using the config utility to make changes to this file.
##
## Format is one item per line.  <settings> <tab> <path-to-file or fixed value>
##

## Lines with hashes are ignored.
## Settings descriptions:

## STACKS SETTINGS BELOW HERE
##	Sample_path	Specify a path to the directory of samples.
##	Popmap		Specify a path to your population map.
##	Ustacks_mm	Number of mismatches allowed between stacks within individuals (for ustacks).
##	Cstacks_mm	Number of mismatches allowed between stacks between individuals (for cstacks).
##	Var_alpha	Significance level at which to call variant sites (for gstacks; default: 0.05).
##	GT_alpha	Significance level at which to call genotypes (for gstacks; default: 0.05).
##	Paired		After assembling RAD loci, assemble contigs for each locus from paired-end reads (TRUE or FALSE; default: FALSE).
##	Rm_PCR_dups	Remove all but one set of read pairs of the same sample that have the same insert length (TRUE of FALSE; default: FALSE).
##	Min_pops	Minimum number of populations a locus must be present in to process a locus (for populations; default: 1).
##	Min_samps	Minimum percentage of individuals in a population required to process a locus for that population (for populations; default: 0).
##	CPU_cores	Number of cores to use during parallel processing steps.

## Settings in use for RRLpipe scripts below (without leading "#" characters).  Order below defines order in which config utility modifies settings.
Sample_path	./
Popmap	popmap.txt
Ustacks_mm	2
Cstacks_mm	2
Var_alpha	0.05
GT_alpha	0.05
Paired	FALSE
Rm_PCR_dups	FALSE
Min_pops	1
Min_samps	0
CPU_cores	2
